@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  color: #000;
}

header,
section,
footer {
  max-width: 1440px;
  padding: 0 160px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

button,
input[type=submit] {
  background: #ffcf00;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 265px;
  height: 89px;
  transition: all 0.5s ease;
}
button:hover,
input[type=submit]:hover {
  background-color: #eeff35;
  color: rgb(83, 47, 0);
}
button:focus,
input[type=submit]:focus {
  border: 1px dotted;
  background-color: #ffcf00;
}

header {
  position: relative;
  background-image: url("./img/hero.jpg");
  background-size: contain;
  height: auto;
  background-repeat: no-repeat;
}
header .header-bottom {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  margin: 0 -160px;
  padding: 0 160px;
  z-index: 100;
  top: 0;
}
header .header-bottom a {
  margin-right: 20px;
}
header .header-bottom .menu-btn {
  width: 170px;
  height: 54px;
  margin-left: 11px;
  font-size: 1rem;
}
header .menu-fixed {
  position: fixed;
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 0, 0, 0);
}
header .burger {
  display: flex !important;
  margin-right: 320px;
}
header .burger .point {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background-color: rgb(255, 207, 0);
  border-radius: 50%;
}
header .burger:hover .point {
  border: 0.1px solid;
}
header .fixed {
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 320px;
  margin: 0 auto;
  display: none;
}
header .fixed .list-item {
  margin: 5px 0;
  background-color: rgb(255, 207, 0);
  padding: 8px;
  border-radius: 10px;
  align-self: flex-end;
  transition: all 1s ease;
}
header .fixed .list-item a {
  margin-right: 0;
}
header .fixed .list-item:hover {
  background-color: #eeff35;
}
header .none {
  display: none !important;
}
header .appear {
  display: block !important;
}

h1 {
  font-weight: 700;
  font-size: 2.1rem;
}

h2 {
  font-weight: 700;
  font-size: 2.1rem;
}

h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 0.9rem;
}

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.9rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

#about-us {
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-us .block-text {
  width: 58.3333333333%;
}
#about-us h2 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
#about-us p {
  font-size: 1.6rem;
  margin-bottom: 50px;
}
#about-us .btn {
  margin-bottom: 80px;
}

#block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 110px auto;
}
#block .block-text {
  width: 50%;
}
#block .block-text p {
  width: 90%;
  margin-top: 40px;
}
#block .img {
  width: 41.6666666667%;
}
#block .img img {
  width: 100%;
}

#service {
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#service h1 {
  color: #ffcf00;
  margin-bottom: 90px;
}
#service ul {
  margin: 0 -10px;
}
#service ul li {
  width: 265px;
  margin: 0 10px;
  transition: all 0.5s ease-in;
}
#service ul li:hover {
  transform: translate(0, 3%);
}
#service p {
  color: #fff;
  padding: 34px 10px 54px;
  text-align: center;
}
#service img {
  width: 265px;
  z-index: -1;
}

#works {
  text-align: center;
  margin-bottom: 150px;
}
#works hgroup {
  margin-top: 150px;
  margin-bottom: 83px;
}
#works h1 {
  padding-bottom: 25px;
}
#works p {
  width: 41.6666666667%;
  margin: 0 auto;
}
#works .album {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}
#works .album .big-image {
  width: 83.3333333333%;
}
#works .album .big-image img {
  width: 100%;
}
#works .album .small-images {
  width: 16.6666666667%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#works .album .small-images img {
  width: 90%;
}
#works .album .small-images img:hover {
  border: 3px solid #ffcf00;
}

#facts {
  background-image: url("./img/bg2.png");
  background-size: cover;
  height: 386px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#facts hgroup {
  margin-bottom: 60px;
}
#facts h2 {
  padding-bottom: 18px;
  font-size: 1.6rem;
  color: #fff;
}
#facts p {
  width: 83.3333333333%;
  margin: 0 auto;
  color: #fff;
}

#response {
  margin-top: 135px;
  margin-bottom: 165px;
  text-align: center;
}
#response h1 {
  padding-bottom: 180px;
}
#response ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 381px;
  background: #ececec;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.25), 3px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 0 50px;
  margin-bottom: 110px;
  z-index: -1;
}
#response img {
  position: absolute;
  top: -75px;
  left: 185px;
  width: 147px;
}
#response h3 {
  margin-top: 30px;
}
#response p {
  margin-top: 24px;
  margin-bottom: 30px;
}
#response h4 {
  margin-bottom: 10px;
}
#response .description {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3137254902);
  margin: 0;
}

#contacts {
  height: 1056px;
  background-image: url("./img/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contacts hgroup,
#contacts form {
  width: 66.6666666667%;
}
#contacts h1 {
  margin-bottom: 30px;
  color: #fff;
}
#contacts p {
  color: #fff;
}
#contacts form {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contacts form input:not([type=submit]),
#contacts form textarea {
  width: 100%;
  margin: 12px 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 35px;
}
#contacts form input:not([type=submit]) ::-moz-placeholder, #contacts form textarea ::-moz-placeholder {
  color: red;
}
#contacts form input:not([type=submit]) ::placeholder,
#contacts form textarea ::placeholder {
  color: red;
}
#contacts form .firstname {
  width: 41.6666666667% !important;
}
#contacts form .tel {
  width: 54.1666666667% !important;
}
#contacts form input[type=submit] {
  margin: 0 auto;
  margin-top: 60px;
}
#contacts form textarea {
  height: 230px;
}

footer {
  padding-top: 100px;
  background: #0e0803;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
footer h1,
footer p,
footer a {
  color: #fff;
  font-size: 0.9rem;
}
footer h1 {
  font-size: 2.1rem;
}
footer h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
footer h6 {
  width: 100%;
  margin-bottom: 33px;
}
footer address img {
  width: 46px;
  height: 46px;
  margin-right: 20px;
}
footer p {
  margin-top: 35px;
  margin-bottom: 43px;
}
footer h6 {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 80px;
}
footer .footer-columns {
  width: 33.3333333333%;
  margin-right: 16.6666666667%;
}
footer ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer ul li {
  margin-bottom: 13px;
}
footer ul li a {
  display: flex;
  align-items: center;
}
footer img {
  width: 31px;
  height: 31px;
  margin-right: 18px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.438);
}
.overlay .contacts {
  border-radius: 5px;
  background-image: url("./img/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
  overflow-y: auto;
  padding: 30px;
}
.overlay hgroup {
  margin-top: 10px;
}
.overlay hgroup h1 {
  text-shadow: 1px 1px 2px rgb(255, 242, 0);
  margin-bottom: 20px;
}
.overlay hgroup p {
  color: white;
  margin-bottom: 20px;
}
.overlay form input,
.overlay form textarea {
  padding: 10px;
  margin: 10px;
  width: 90%;
}
.overlay .close {
  margin-left: auto;
  margin-right: 0;
  font-weight: 700;
  font-size: 2.1rem;
  color: #ececec;
  cursor: pointer;
}
.overlay .close:hover {
  color: #eeff35;
}

.points {
  display: flex;
  justify-content: center;
}
.points .point {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: rgba(255, 207, 0, 0.3);
  border-radius: 50%;
}
.points .active {
  background-color: rgb(255, 207, 0);
}

@media screen and (max-width: 1440px) {
  header {
    height: auto !important;
    background-size: cover;
    background-position: center right;
  }
  header .burger {
    margin-right: 0;
    padding: 0;
  }
  header .menu-fixed {
    width: 82%;
  }
  header .fixed {
    right: 0;
  }
  header .btn {
    margin: 0;
  }
  header .menu-btn {
    margin-bottom: 0;
  }
  #service {
    height: auto;
    background-size: cover;
  }
  #service h1 {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  button {
    margin-bottom: 30px;
  }
  #works {
    margin-bottom: 80px;
  }
  #works hgroup {
    margin-top: 50px;
  }
  #works .album {
    margin-bottom: 45px;
  }
  #response {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #response li {
    margin: 0 auto;
  }
  footer {
    padding-top: 50px !important;
  }
}
@media screen and (max-width: 1024px) {
  header,
  section,
  footer {
    padding: 0 80px;
  }
  header .menu-fixed {
    width: 90%;
  }
  header .header-bottom {
    margin: 0;
    padding: 0;
    background: none;
  }
  header li:last-child {
    display: none;
  }
  #block .block-text {
    width: 66%;
  }
  #block .block-text h2 {
    font-size: 1.6rem;
  }
  #block .block-text p {
    margin-top: 5px;
  }
  #facts {
    height: auto;
    padding-right: 30px;
  }
  #facts h2 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  header,
  section,
  footer {
    padding: 0 40px;
  }
  header .none {
    display: flex !important;
  }
  header .menu {
    display: none;
  }
  #about-us h2 {
    font-size: 2.8rem;
  }
  #about-us p {
    font-size: 0.9rem;
  }
  #block {
    justify-content: center;
    flex-wrap: wrap;
  }
  #block .block-text {
    margin-bottom: 30px;
    width: 80%;
  }
  #block .block-text h2 {
    width: 100%;
    padding-bottom: 10px;
  }
  #block .block-text p {
    margin: 0;
    width: 100%;
  }
  #block .img {
    width: auto;
  }
  #service ul {
    justify-content: center;
  }
  #works hgroup {
    margin-bottom: 30px;
  }
  #works p {
    width: 80%;
  }
  #works .album {
    flex-direction: column;
  }
  #works .album .big-image {
    width: 100%;
  }
  #works .album .small-images {
    margin-top: 10px;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  #response {
    margin-bottom: 20px;
  }
  #response h1 {
    padding-bottom: 115px;
  }
  #response ul li {
    width: 345px;
  }
  #response li:last-child {
    margin-bottom: 30px;
  }
  #response img {
    left: 107px;
    top: -90px;
  }
  #contacts {
    max-height: 1000px;
  }
  #contacts hgroup {
    width: 100%;
  }
  #contacts form {
    margin-top: 30px;
    width: 100%;
  }
  #contacts form input:not([type=submit]),
  #contacts form textarea {
    padding: 20px;
    font-size: 0.6rem;
  }
  #contacts form textarea {
    height: auto;
  }
  #contacts form input[type=submit] {
    margin-top: 30px;
  }
  footer {
    justify-content: space-between;
  }
  footer .footer-columns {
    width: 48%;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  header,
  section,
  footer {
    padding: 0 15px;
  }
  header {
    background-position: 0;
    background: rgba(127, 127, 127, 0.2);
  }
  header .menu-fixed {
    width: calc(100% - 30px);
  }
  #about-us {
    height: auto !important;
    margin-top: 40px;
  }
  #about-us h2 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
  }
  #about-us .block-text {
    width: 100%;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
  }
  #block {
    margin-top: 0;
    margin-bottom: 0;
  }
  #block .block-text {
    width: 100%;
  }
  #service .cards {
    justify-content: center;
  }
  #works {
    margin-bottom: 40px;
  }
  #response ul li {
    margin-bottom: 80px;
    width: 290px;
  }
  #response img {
    width: 100px;
    top: -70px;
    left: 97px;
  }
  #contacts form .firstname,
  #contacts form .tel {
    width: 100% !important;
  }
  footer .footer-columns {
    width: 100%;
    margin-top: 40px;
  }
  footer h6 {
    margin-top: 20px;
  }
  .overlay hgroup p {
    font-size: 0.7rem;
  }
  .overlay form input,
  .overlay textarea {
    font-size: 0.7rem;
  }
  .overlay .btn-input {
    height: auto;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */